body {
  background-color: antiquewhite;
  font-size: larger;
  align-items: center;
  justify-content: center;
  display: flex;
}

.gamePage {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXZKcxF58O0roHakAxmqN5zupg15fgHSwSEg&s);
  background-size: cover;
  height: 120vh;
  margin: 0;
  padding: 0;
}

.scoreBar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.gameArea {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  width: 1300px;
  height: 200px;
  position: relative;
  padding: 10px;
  visibility: hidden;
}

.character {
  width: 100px;
  height: 100px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYT5X8dworItkvZ2uMeuvfjufOVD2Zhsl_lBc4VUgJ2UgaGW-1nGLM5o1HNjt2KgD8vsU&usqp=CAU);
  position: relative;
  top: 110px;
  background-size: cover;
}

.jump {
  animation: jump 0.9s linear;
}

@keyframes jump {
  0% {
    top: 110px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 110px;
  }
}

.obstacle {
  width: 50px;
  height: 50px;
  position: relative;
  top: 60px;
  left: 630px;
  animation: obstacle 3s linear infinite;
  background-image: url("img/pic.png");
  background-size: cover;
}

@keyframes obstacle {
  0% {
    left: 1200px;
  }
  100% {
    left: -635px;
  }
}
.repeat {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
}

.endGame {
  visibility: hidden;
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  border: 2px solid black;
  text-align: center;
  align-content: center;
  position: absolute;
}
