body {
  background-color: antiquewhite;
  font-size: larger;
  align-items: center;
  justify-content: center;
  display: flex;
}

.gamePage {
  background-color: aquamarine;
  position: relative;
  height: 120vh;
  margin: 0;
  padding: 0;
}

.scoreBar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
}

.gameArea {
  height: 300px;
  width: 1200px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-self: center;
}

.ball {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}

.obstacle {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 20%;
  background-color: #b61414;
  animation: obstacle 0.9s linear infinite;
}

@keyframes obstacle {
  from {
    transform: translateX(1500px);
  }
  to {
    transform: translateX(-5px);
  }
}
.repeat {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
}
